<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Arkade_Faq::faq_content" title="Faqs" module="Arkade_Faq" sortOrder="50" parent="Magento_Backend::content" resource="Arkade_Faq::faqs_content" />
        <add id="Arkade_Faq::faq" title="Faqs" module="Arkade_Faq" sortOrder="0" parent="Arkade_Faq::faq_content" action="faqs/faq" resource="Arkade_Faq::faq"/>
    </menu>
</config>
